<a href="https://colab.research.google.com/github/Kai-MC/144.ipynb/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Make sure you fill in any place that says `YOUR CODE HERE` or `YOUR ANSWER HERE`, as well as your name below:

In [ ]:
NAME = "Kai Ma"

---

# Lab 1 - Data Preprocessing

Data transformations are useful for preparing a dataset for answering a particular question. Part of this process involves generating features from the dataset you find relevant to the question at hand. For this lab, we will be using a Yelp reviews dataset. Each row in the dataset depicts one review along with the features of the review (the reviewer, the review text, etc.). The goal of this lab is to eventually convert this reviews dataset into a *reviewers* dataset by creating different features describing each reviewer.

The submission for this assignment should be done *individually*, but you are allowed to work in groups of 2.

# Google Colab

Colab is a free online platform provided by Google that allows you to execute python code without any installations on your local machine. Without Colab (using Jupyter notebooks or the command line), you would have to install various packages and manage dependencies. 

In Colab, you can simply import them, or even install them (for that particular session). Colab can be accessed at the link: https://colab.research.google.com


**IMPORTANT: This lab has been shared with only read permissions to you. Make sure to click File --> Save a Copy in Drive so that you can get your own copy that WILL SAVE YOUR PROGRESS in your own Colab environment.**

**If you download the .ipynb and want to further edit the notebook, you will need to make sure you have [Jupyter](https://jupyter.org/install) installed locally so you can view the notebook properly (not as a JSON file).**

# Environment Setup
Run this cell to setup your environment.

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd
import math
import os
print('Libraries Imported')

#DOWNLOADING DATASET IF NOT PRESENT
!wget -nc http://askoski.berkeley.edu/~zp/yelp_reviews.csv

#!unzip yelp_reviews.zip
print('Dataset Downloaded: yelp_reviews.csv')
df=pd.read_csv('yelp_reviews.csv')
print(df.head())

print('Setup Complete')

Libraries Imported
File ‘yelp_reviews.csv’ already there; not retrieving.

Dataset Downloaded: yelp_reviews.csv
     type             business_id                 user_id  stars  \
0  review  mxrXVZWc6PWk81gvOVNOUw  mv7shusL4Xb6TylVYBv4CA      4
1  review  mxrXVZWc6PWk81gvOVNOUw  0aN5QPhs-VwK2vusKG0waQ      5
2  review  kK4AzZ0YWI-U2G-paAL7Fg  0aN5QPhs-VwK2vusKG0waQ      5
3  review  mxrXVZWc6PWk81gvOVNOUw  1JUwyYab-uJzEx_FRd81Zg      5
4  review  mxrXVZWc6PWk81gvOVNOUw  2Zd3Xy8hUVmZkNg7RyNjhg      4

                                                text        date  cool_votes  \
0  Definitely try the duck dish.   I rank it amon...  2011-06-13           0
1  Big Ass Burger was awesome! Great $5 mojitos. ...  2011-06-25           1
2             Unbelievable sandwiches! Good service.  2011-06-25           0
3  Awesome, awesome, awesome! My mom and sister a...  2011-07-18           1
4  I had the ribs they were great.  The beer sele...  2011-07-19           1

   useful_votes  funny_votes
0             0            0
1             0            0
2             0            0
3             1            0
4             0            1
Setup Complete

**Q1: What was the highest number of reviews for any one `business_id`?**
- For this task, we will need to group the reviews dataset by `business_id`. This will aggregate data for each business, which is what we need for this task. This can be done using the [groupby](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html) method. Some pointers of how you could go about this question are listed below:
    - ```yelp_businesses = yelp_dataset.groupby('business_id').size() ```
    - The `.size()` function counts the number of instances for each `business_id`, which gives us the number of reviews as each instance in this dataset is a review.
    - The following command will sort this list, after which you can take note of the highest value: ```sorted_yelp_businesses = yelp_businesses.sort_values(ascending=False, inplace=False)```
    - This approach allows you to see the data structure being used in the sort. A quicker approach to getting the max would be to use the max function: ```max(yelp_businesses)```
<br>
<br>

In [ ]:
df.head()

,type,business_id,user_id,stars,text,date,cool_votes,useful_votes,funny_votes
0,review,mxrXVZWc6PWk81gvOVNOUw,mv7shusL4Xb6TylVYBv4CA,4,Definitely try the duck dish. I rank it amon...,2011-06-13,0,0,0
1,review,mxrXVZWc6PWk81gvOVNOUw,0aN5QPhs-VwK2vusKG0waQ,5,Big Ass Burger was awesome! Great $5 mojitos. ...,2011-06-25,1,0,0
2,review,kK4AzZ0YWI-U2G-paAL7Fg,0aN5QPhs-VwK2vusKG0waQ,5,Unbelievable sandwiches! Good service.,2011-06-25,0,0,0
3,review,mxrXVZWc6PWk81gvOVNOUw,1JUwyYab-uJzEx_FRd81Zg,5,"Awesome, awesome, awesome! My mom and sister a...",2011-07-18,1,1,0
4,review,mxrXVZWc6PWk81gvOVNOUw,2Zd3Xy8hUVmZkNg7RyNjhg,4,I had the ribs they were great. The beer sele...,2011-07-19,1,0,1

In [ ]:
df.shape

(547273, 9)

In [ ]:
#Make sure you return the answer value in this function
def q1(df):
    return max(df.groupby('business_id').size())

    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(q1(df))

4128

**Q2: On average, how many reviews did each business get?**

In [ ]:
#Make sure you return the answer value in this function
def q2(df):
    return (df.groupby('business_id').size()).mean()
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(q2(df))

12.63413902163123

**Q3: What is the average number of reviews per reviewer?**

In [ ]:
#Make sure you return the answer value in this function
def q3(df):
    return (df.groupby('user_id').size()).mean()
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(q3(df))

3.188511934933203

**Q4: Calculate the total number of cool votes per reviewer, then average these totals across reviewers.**

In [ ]:
#Make sure you return the answer value in this function
def q4(df):
    total = df['cool_votes'].sum()
    return total/len(df['user_id'].unique())
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(q4(df))

1.2417282785380945

**Q5: Calculate the total number of funny votes per reviewer, then average these totals across reviewers.**

In [ ]:
#Make sure you return the answer value in this function
def q5(df):
    total = df['funny_votes'].sum()
    return total/len(df['user_id'].unique())
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(q5(df))

1.10126486404605

**Q6: Calculate the total number of useful votes per reviewer, then average these totals across reviewers.**

In [ ]:
#Make sure you return the answer in this function
def q6(df):
    total = df['useful_votes'].sum()
    return total/len(df['user_id'].unique())
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(q6(df))

2.484476138872867

**Q7: On average, what percentage of a reviewer's votes are cool votes?**

(hint1: calculate the percentage of cool votes for each reviewer, then average this percentage across reviewers)

(hint2: you should discard reviewers who have absolutely no votes - from cool, funny, or useful votes - from your calculation)

In [ ]:
#Make sure you return the answer in this function
#Remember to multiply by 100 for percentages
def q7(df):
  df_cur = df.copy()
  df_cur['total_reviews'] = df_cur['funny_votes']+df_cur['useful_votes']+df_cur['cool_votes']
  calc = df_cur[df_cur['total_reviews']>0].groupby('user_id').agg({'total_reviews': 'sum', 'cool_votes': 'sum'})
  calc['cool_pct'] = calc['cool_votes']/calc['total_reviews']
  return 100*calc['cool_pct'].mean()
  # YOUR CODE HERE
  raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
#Remember to multiply by 100 for percentages
print(round(q7(df),2))

19.27

**Q8: On average, what percentage of a reviewer's votes are funny votes?**

(hint1: calculate the percentage of funny votes for each reviewer, then average this percentage across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [ ]:
#Make sure you return the answer in this function
#Remember to multiply by 100 for percentages
def q8(df):
    df_cur = df.copy()
    df_cur['total_reviews'] = df_cur['funny_votes']+df_cur['useful_votes']+df_cur['cool_votes']
    calc = df_cur[df_cur['total_reviews']>0].groupby('user_id').agg({'total_reviews': 'sum', 'funny_votes': 'sum'})
    calc['funny_pct'] = calc['funny_votes']/calc['total_reviews']
    return 100*calc['funny_pct'].mean()  
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(round(q8(df),2))

18.26

**Q9: On average, what percentage of a reviewer's votes are useful votes?**

(hint1: calculate the percentage of useful votes for each reviewer, then average this percentage across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [ ]:
#Make sure you return the answer in this function
def q9(df):
    df_cur = df.copy()
    df_cur['total_reviews'] = df_cur['funny_votes']+df_cur['useful_votes']+df_cur['cool_votes']
    calc = df_cur[df_cur['total_reviews']>0].groupby('user_id').agg({'total_reviews': 'sum', 'useful_votes': 'sum'})
    calc['useful_pct'] = calc['useful_votes']/calc['total_reviews']
    return 100*calc['useful_pct'].mean() 
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(round(q9(df),2))

62.47

**Q10: Find the average review text length (in non-space characters).**

In [ ]:
df_cur = df.copy()

In [ ]:
df_cur.head()

,type,business_id,user_id,stars,text,date,cool_votes,useful_votes,funny_votes
0,review,mxrXVZWc6PWk81gvOVNOUw,mv7shusL4Xb6TylVYBv4CA,4,Definitely try the duck dish. I rank it amon...,2011-06-13,0,0,0
1,review,mxrXVZWc6PWk81gvOVNOUw,0aN5QPhs-VwK2vusKG0waQ,5,Big Ass Burger was awesome! Great $5 mojitos. ...,2011-06-25,1,0,0
2,review,kK4AzZ0YWI-U2G-paAL7Fg,0aN5QPhs-VwK2vusKG0waQ,5,Unbelievable sandwiches! Good service.,2011-06-25,0,0,0
3,review,mxrXVZWc6PWk81gvOVNOUw,1JUwyYab-uJzEx_FRd81Zg,5,"Awesome, awesome, awesome! My mom and sister a...",2011-07-18,1,1,0
4,review,mxrXVZWc6PWk81gvOVNOUw,2Zd3Xy8hUVmZkNg7RyNjhg,4,I had the ribs they were great. The beer sele...,2011-07-19,1,0,1

In [ ]:
print(df_cur.loc[0,'text'])

Definitely try the duck dish.   I rank it among the 10 best duck dishes I have ever had....and I love duck.   I always order duck dishes to test the cook's skill level.  A solid restaurant in Scottsdale.

In [ ]:
#Make sure you return the answer in this function
def q10(df):
    df_cur = df.copy()
    df_cur['lengths'] = df['text'].str.len() - df['text'].str.count(' ')
    return df_cur['lengths'].mean()
    # YOUR CODE HERE
    raise NotImplementedError()

In [ ]:
#This is a graded cell, do not edit
print(round(q10(df),0))

499.0

**Q11: Find the year in which each reviewer wrote the most reviews. Once you have this for each reviewer, subtract the minimum possible year (2004) from each year so that your final feature values are 0, 1, 2, etc.**

**Note: we are looking for the `answer` to be in the format of a Pandas Series with `user_id` as the index and the year (in 0, 1, 2 format as listed above) as the value.**

In [ ]:
df_cur = df.copy()
df_cur['year'] = pd.DatetimeIndex(df['date']).year - 2004
df_cur.head()

,type,business_id,user_id,stars,text,date,cool_votes,useful_votes,funny_votes,year
0,review,mxrXVZWc6PWk81gvOVNOUw,mv7shusL4Xb6TylVYBv4CA,4,Definitely try the duck dish. I rank it amon...,2011-06-13,0,0,0,7
1,review,mxrXVZWc6PWk81gvOVNOUw,0aN5QPhs-VwK2vusKG0waQ,5,Big Ass Burger was awesome! Great $5 mojitos. ...,2011-06-25,1,0,0,7
2,review,kK4AzZ0YWI-U2G-paAL7Fg,0aN5QPhs-VwK2vusKG0waQ,5,Unbelievable sandwiches! Good service.,2011-06-25,0,0,0,7
3,review,mxrXVZWc6PWk81gvOVNOUw,1JUwyYab-uJzEx_FRd81Zg,5,"Awesome, awesome, awesome! My mom and sister a...",2011-07-18,1,1,0,7
4,review,mxrXVZWc6PWk81gvOVNOUw,2Zd3Xy8hUVmZkNg7RyNjhg,4,I had the ribs they were great. The beer sele...,2011-07-19,1,0,1,7

In [ ]:
# YOUR CODE HERE
df_cur = df.copy()
df_cur['year'] = pd.DatetimeIndex(df['date']).year - 2004
mulindex = (df_cur.groupby(['user_id','year']).agg({'text':'count'}).sort_values('text').
 groupby(level=0).tail(1))

user_id = mulindex.index.get_level_values(0)
year = mulindex.index.get_level_values(1)

answer = pd.Series(data = year, index = user_id)

In [ ]:
#This is a graded cell, do not edit
print(answer.sort_index().head())

user_id
--1Y03CEKR3WDbBjYnsW7A     7
--2QZsyXGz1OhiD4-0FQLQ    10
--82_AVgRBsLw6Dhy8sEnA     4
--8A9o_NeGyt_3kzlXtSdg    11
--8WbseBk1NjfPiZWjQ-XQ    12
Name: year, dtype: int64

**Q12: Come up with a new feature for each review. This may be derived from existing features.
Give your feature the name *my_new_feature.* Display head() of this new feature.**

In [ ]:
# YOUR CODE HERE
df_cur = df.set_index('user_id').copy()
df_cur['avg_words'] = df_cur['text'].str.split().str.len()
my_new_feature = df_cur.groupby(['user_id']).agg({'avg_words':'mean'}).round(0)['avg_words']

In [ ]:
#This is a graded cell, do not edit
print(my_new_feature.head())

user_id
--1Y03CEKR3WDbBjYnsW7A    212.0
--2QZsyXGz1OhiD4-0FQLQ     27.0
--82_AVgRBsLw6Dhy8sEnA    159.0
--8A9o_NeGyt_3kzlXtSdg     99.0
--8WbseBk1NjfPiZWjQ-XQ    287.0
Name: avg_words, dtype: float64